.error {
    line-height: 25px;
    color: red;
}

.input[type="radio"], input[type="checkbox"] {
    margin-top: 12px;
}

.form-control {
    border: 1px solid #c1c3cc !important;
}

.cropper-wrap-box, .cropper-canvas {
    background: #dddddd;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #d3d4d6;
}
.contact-success {
    padding: 20px;
    border: 3px solid #fce62e;
}
